body
{
	font-size: 16px; /*1em*/
	max-width: 1078;
	min-width: 1078;
}
header input
{
	float: right;
    margin-right:-200px;
    position: relative;
}
#terceraseccion article
{

	display: inline-block;
	vertical-align: top;
	width: 23;
}
#terceraseccion article img
{
	/*Alineacion vertical de la imagen*/
	/*Mueve el texto que esta alrededor*/
	vertical-align: middle;
}
#terceraseccion article input[type="email"]
{
border-radius: 5px;
}

#terceraseccion article input[type="button"]
{
	background: #A4CD28;
    color: white;
}


#granthams
{
	margin-top: 25px;
	margin-left: 25px;
}
#paint
{
	float: right;
}
.colorazul
{
color: #629ad4;
}
.colorrosa
{
color:FF0099;
}
.letramediana
{

}
.nito
{

}